.fcontainer1{
    border: 5px solid orangered;
    border-radius: 20px;
    width: max-content;
    padding: 30px;
    text-align: center;
    padding-left: 50px;
    position: relative;
    background-color: white;
    left: 450px;
box-shadow: 6px 6px  rgb(109, 23, 23);    
}
.alig{
    padding-right: 50px;
    position: relative;
    line-height: 50px;



}
.container2{
    border: 5px solid green;
height: 700px;
}
.box1{
    border: 5px solid orangered;
    box-shadow: 6px 6px  rgb(109, 23, 23);    
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 20px;

    line-height: 50px;

}
.container3{
    border: 5px solid orangered;
    box-shadow: 6px 6px  rgb(109, 23, 23);    
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 20px;

    line-height: 50px;
width: 300px;
height: 250px;
position: relative;
left: 900px;
bottom: 250px;

}
.img1{
    width: 200px;
    height: 200px;
    padding-top: 20px;
}
.container4{
    border: 5px solid orangered;
    color: orangered;
    
    background-color: rgb(228, 247, 58);
    width: 500px;
height: 60px;

border-radius: 10px;

position: relative;
left: 350px;
bottom: 200px;
box-shadow: 6px 6px  rgb(109, 23, 23);    
position: sticky;
top: 0;

}
.part2{
    position: relative;
    left: 300px;
    bottom: 60px;
    font-size: medium;
}
.part1 {
    position: relative;
    bottom: 10px;
    left: 10px;
}
.container5{
    border: 5px solid orangered;
    background-color: white;
    border-radius: 10px;
width: 300px;
font-size: medium;
box-shadow: 6px 6px  rgb(109, 23, 23);    

position: relative;
bottom:320px;
left: 10px;
}
.container6{
    border: 5px solid orangered;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 6px 6px  rgb(109, 23, 23);    
height: 300px;
position: relative;
left: 900px;
bottom: 640px;
}
.button1{
    border-radius: 5px;
    background-color: orangered;
    position: relative;
    bottom: 15px;
}

.page2{
    border: 5px solid purple;
    text-align: center;
    width: 1000px;
    position: relative;
    height: 670px;
    left: 150px;
    background-color: green;
}
.green{
    text-align: center;
}
.fruits{
    border: solid rgb(252, 252, 94);
    background-color:  rgb(252, 252, 94);
    width: 500px;
}
.alig1{
font-size: large;
line-height: 40px;
}
.vegetables{
    border: solid rgb(252, 252, 94);
    background-color:  rgb(252, 252, 94);
    width: 442px;
    height: 270px;
    position: relative;
    left: 550px;
    bottom: 270px;
}
.alig2{
    text-align: center;
    line-height: 20px;
    line-height: 35px;
}
.other1{
    border: solid rgb(252, 252, 94);
    background-color:  rgb(252, 252, 94);
    font-size: large;
    line-height: 40px;
    position: relative;
    bottom: 250px;
}
.page2{
    position: relative;
    bottom: 600px;
}